/* * {
    border: 1px solid red;
    margin: 10px;

} */

body {
    background-color: rosybrown;
    margin: 0;
    padding: 0;
}

header {
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

p {
    color: blue;
  }

#rodape {
        color: red;
        width: 500px;
        border: 1px solid black;
}

.titulo1 {
    color: green;
    width: 100%;
    border: 2px solid blue;
    padding: 50px;
}